<div class="container">
    <div class="header">
        <div class="sub-header">
            <img class="img-title header-img" src="assets/images/title-rick.png" alt="" srcset="">

            <div class="title">
                <p class="title-universe">UNIVERSO</p>
                <p class="title-rick-morty">RICK AND MORTY</p>
            </div>
        </div>
    </div>
</div>

<div class="container" id="container">    
    <div id="search">
        <div class="text-navigate">
            <p>Navegue entre os universos</p>
        </div>
        <div class="options">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-sm">
                        Personagens
                    </div>
                    <div class="col-sm">
                        Episódios
                    </div>
                    <div class="col-sm">
                        Locais
                    </div>
                    <div class="col-sm">
                        Favoritos
                    </div>
                </div>
            </div>
        </div>
    
        <div class="container" style="display: flex;">
            <input placeholder="Digite o nome ...." class="search" type="text" name="" id="">
        </div>
    </div>

    <img class="pictures" src="assets/images/rick-and-morty-pictures.jpg" alt="">
    <!-- <div class="img-pictures"> <img class="pictures" src="assets/images/rick-and-morty-pictures.jpg" alt=""></div> -->

</div>