@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html {
    background: #252525;
    /* background: linear-gradient(to top, rgba(255, 225, 255, 0) 20%, #252525), center top url("./assets/images/c27b100abb98d413adfb7e2570ffb3e8.jpg"); */
    margin: 0;
    height: 100%;
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.header-img {
    width: 15% !important;
    height: 20%;
}

